name: Java 21 CI and Jenkins Deployment Trigger

on:
  push:
    branches:
      - master
      - webapp

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Java 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '21'

      - name: Build application
        run: mvn clean package

      - name: Trigger Jenkins (master only)
        if: github.ref == 'refs/heads/main'
        run: |
          curl -X POST           "${{ JENKINS_URL }}/job/insured-assurance-deploy/build"           --user "${{ JENKINS_USER }}:${{ JENKINS_API_TOKEN }}"
