name: Conditional Workflow Execution

on:
  push:
    branches:
      - master
      - feature/*

jobs:
  production-deploy:
    if: startsWith(github.ref, 'refs/heads/feature/') || github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: '14'
