name: Java CI - Trigger Jenkins CD

on:
  push:
    branches:
      - master

jobs:
  ci-cd:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Setup Java 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Build application
        run: mvn clean package

      - name: Run unit tests
        run: mvn test

      - name: Upload WAR artifact
        uses: actions/upload-artifact@v4
        with:
          name: java-war
          path: target/*.war

      - name: Trigger Jenkins Deployment
        env:
          JENKINS_URL: ${{ secrets.JENKINS_URL }}
          JENKINS_USER: ${{ secrets.JENKINS_USER }}
          JENKINS_TOKEN: ${{ secrets.JENKINS_API_TOKEN }}
          JENKINS_TRIGGER_TOKEN: ${{ secrets.JENKINS_TRIGGER_TOKEN }}
        run: |
          curl -X POST \
          "$JENKINS_URL/job/tomcat-deploy/build?token=$JENKINS_TRIGGER_TOKEN" \
          --user "$JENKINS_USER:$JENKINS_TOKEN"
